@import "variables.scss";

* {
  box-sizing: border-box;
}

body {
  max-width: $max-width;
  margin: 0 auto;
  color: $red;
  font-size: $main-font-size;
  background-image: url(http://bgfons.com/upload/stars_texture2954.jpg);
}

a {
  color: $red;
  text-decoration: none;
  transition: color 1s ease;
}

a:hover {
  color: black;
}

input:hover {
  border: 1px solid $red;
}

.icon {
  font-size: 2rem;
  color: $red;
  margin-right: 15px;
} 

.tag {
  margin: 0 10px 10px 0;
  padding: 5px;
  border: 1px solid $red;
  transition: .3s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;

  &:hover {
    background-color: $red;
    color: white;
  }

  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: -1px;
  //   left: -16px;
  //   width: 0;
  //   height: 0;
  //   border-color: transparent $red transparent transparent;
  //   border-width: 15px 15px 15px 0;
  //   border-style: solid;
  // }
}