@import "global.scss";

.wrapper {
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-template-rows: repeat(4, minmax(100px, max-content));
  grid-gap: 10px;
}

.header {
  grid-column: 1/3;
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr;

  &__logo {
    grid-row: 1/3;
    grid-column: 1/3;
    min-height: 100px;
    max-height: 250px;
    @media (max-width: $small-monitor) {
      // grid-row: 2/3;
      grid-column: 2/3;
    }
  }

  &__icons {
    grid-row: 1/2;
    grid-column: 2/4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: $small-monitor) {
      grid-column: 3/3;
    }

    .icon {
      margin-right: 15px;	
      &:last-child {
        margin-right: 40px;
      }
    }
  }

  .socials {
    @media (max-width: $small-monitor) {
      display: none;
    }
  }

  &__search {
    .icon-search {
      font-size: 45px;
      color: blue;
    }
  }

  &__menu {
    @import "hamburger.scss";
    grid-row: 2/2;
    grid-column: 2/4;
    align-items: center;  // TODO
    .hamburger span {
      display: none;
    }

    input {
      display: none;
    }

    @media (max-width: $small-monitor) {
      grid-row: 1/2;
      grid-column: 1/2;
    }

    .menu {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .item {
        margin-right: 10px;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        color: black;
      }
    }
  }
}

.main {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 10px;
  justify-content: center;
  @media (max-width: $small-monitor) {
    grid-column: 1/3;
  }
}

.aside {
  background: purple;
  @media (max-width: $small-monitor) {
    grid-column: 1/3;
  }
} 

.footer {
  grid-column: 1/3;
  background: white;
  position: relative;
  background: url(../images/milk-for-kitty.jpg) 100% 190px;
  .cat {
    position: relative;
    height: 100px;
    animation-name: bounce;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
}

@keyframes bounce {
  0% {
    left: 0px;
  }
  50% {
    left: 750px;
    transform: rotate(780deg) scale(-1, 1);
  }
  100% {
    left: 0px;
  }
}
